In [9]:
d = {a: a ** 2 for a in range(7)}
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [31]:
list(map(d, [0, 4, 6, 8]))

TypeError: 'dict' object is not callable

In [30]:
list(map(d.get, [0, 4, 6, 8]))

[0, 16, 36, None]

In [26]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

ИМХО

**`.get`** - делает из словаря функцию для **`map`**

In [32]:
import pandas as pd

In [51]:
pd.DataFrame(list(range(10))).applymap(d.get)

      0
0   0.0
1   1.0
2   4.0
3   9.0
4  16.0
5  25.0
6  36.0
7   NaN
8   NaN
9   NaN